<%- include("../partials/header"); %>

    <main>
        <div class=" barraLaranja">
            <div class="itensbarra">
                <div>
                    <p> TODOS OS DEPARTAMENTOS </p>
                </div>
                <div>
                    <p>LANÇAMENTOS</p>
                </div>
                <div>
                    <p>DESTAQUES</p>
                </div>
                <div>
                    <p>PC GAMER</p>
                </div>
                <div>
                    <p>ELETRÔNICOS</p>
                </div>
                <div>
                    <p>SEJA PRIME</p>
                </div>
                <div>
                    <p>CARTÃO KABUM!</p>
                </div>
                <div>
                    <p>BAIXE O APP</p>
                </div>
            </div>
        </div>

        <div class="promocao">
            <img src="images/banner_img.jpg" alt="promocao">
        </div>

        <div class="caixa">
            <div id="mes">
                JULHO GAMER
            </div>
            <div class="timer">
                <div id="text">
                    TERMINA EM:
                </div>

                <div id="cronometro">
                    02D 11:36:44
                </div>
            </div>
        </div>

        <div class="fundoItens">
            <div class="caixagrande">


                <% if (produtos && produtos.length> 0) {%>
                    <% produtos.map(produto=> { %>
                        <div class="caixas" id="caixa1">
                            <div class="conteudoComTexto">
                                <div class="containerPai">
                                    <div class="containerFilho">
                                        <div class="displayOrange" id="caixaA">
                                            <div id="porcentagem">40%</div>
                                            <div id="caixaspan"><span class="iconify" data-icon="bxs:down-arrow">
                                                </span></div>
                                        </div>
                                        <div id="caixaB">RESTAM <%= produto.quantidade %> UNID.</div>
                                    </div>

                                    <div class="estrelas" id="caixaC">
                                        <div id="iconstar"><span class="iconify" data-icon="clarity:star-solid">
                                            </span>
                                            <span class="iconify" data-icon="clarity:star-solid">
                                            </span>
                                            <span class="iconify" data-icon="clarity:star-solid">
                                            </span>
                                            <span class="iconify" data-icon="clarity:star-solid">
                                            </span>
                                            <span class="iconify" data-icon="clarity:star-solid">
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <img src="images/<%= produto.imagem %>" width="200px" height="200px" alt="processador">
                                <div id="texto">
                                    <%= produto.modelo %>
                                </div>
                                <div id="texto1">
                                    <%= Math.round(produto.preco * 1.1) %>,00
                                </div>
                                <div id="texto2">
                                    <%= produto.preco %>,00
                                </div>
                                <div id="texto3">à vista no pix !</div>
                                <div id="caixaTempo" class="borderOrange">
                                    <div id="caixaTimer">
                                        <span class="iconify" data-icon="mdi:timer-outline">
                                        </span>
                                    </div>
                                    <div id="textTermina">TERMINA EM: <b>02D 11:36:44</b></div>
                                </div>
                            </div>
                        </div>

                        <% })} %>

            </div>

            <div class="banner-proximo">
                <div class="textabaixocaixa">
                    <div>VER TODOS ></div>
                </div>
                <div class="propaganda">
                    <div class="imageprop"><img src="images/prop1.jpg" alt="imagem1"></div>
                    <div><img src="images/prop2.jpg" alt="imagem2"></div>
                </div>
                <div class="textabaixocaixa2">
                    <div id="baixo">VER TODOS ></div>
                </div>
            </div>

        </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>